@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,html {
    @apply  text-white overflow-x-hidden box-border;
  }

  .section-title {
    @apply mb-12 mt-20 text-center text-4xl;
  }

  .social-icon {
    @apply h-6 w-6 transition duration-75 ease-in-out hover:scale-125 hover:text-[#51D94E] md:h-9 md:w-9;
  } 
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}

.loader:before {
  content: "";
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}

@keyframes diamondLoader {

  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }

  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

:root {
  --bounciness: 15;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-family: monospace, system-ui;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

p {
  font-size: 0.75rem;
}

* {
  box-sizing: border-box;
}

.link {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #888;
}

/* .swiper {
  width: 40rem;
  height: 32rem;
} */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.text-container {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  overflow: hidden;
}

.text-char {
  display: inline-block;
  margin: 0 2px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;

}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-in-out forwards;
}
